.dashboard-container {
  display: flex;
  flex-direction: row;
  width: 100%;

  @media (min-width: 1025px) {
    &.aside-desktop-maximized {
      .main {
        padding-left: 16.8rem;
      }
    }
    &.aside-desktop-minimized {
      .main {
        padding-left: 4.5rem;
      }
    }
  }
  .sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 16.8rem;
    background: var(--bs-bg-level-2);
    border-right: 1px dashed var(--bs-border-color);
    top: 0;
    left: 0;
    z-index: 1050;
    background-color: #ffffff;

    .sidebar-header {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 1rem 1.5rem;

      .sidebar-header-title {
        width: 100%;
        color: var(--bs-text-level-3);
        font-size: 1.6rem;
        font-weight: 600;
        margin: 0;
      }
      .sidebar-header-addon {
        display: flex;
        flex-direction: row;
        align-items: center;
        white-space: nowrap;
      }
    }
    .sidebar-menu {
      font-size: 0.75rem;

      .menu {
        --bs-menu-link-height: 3rem;
        --bs-menu-link-padding-x: 1rem;
        --bs-menu-link-bg: transparent;
        --bs-menu-link-color: var(--bs-text-level-1);
        --bs-menu-link-hover-color: var(--bs-text-level-1);
        --bs-menu-link-active-bg: #2196f3;
        --bs-menu-link-active-color: #fff;
        --bs-menu-link-font-size: 1rem;
        --bs-menu-link-font-weight: 400;
        --bs-menu-link-icon-dimension: 2.5rem;
        --bs-menu-link-icon-size: 1.25rem;
        --bs-menu-link-text-spacer: 0.5rem;
        --bs-menu-link-addon-spacer: 0.5rem;
        --bs-menu-link-caret-spacer: 0.25rem;
        --bs-menu-submenu-transition: all 0.2s ease-in-out;
        --bs-menu-section-height: 3rem;
        --bs-menu-section-spacer: 0.5rem;
        --bs-menu-section-text-spacer: 1rem;
        --bs-menu-section-color: var(--bs-text-level-1);
        --bs-menu-section-font-size: 1rem;
        --bs-menu-section-font-weight: 500;

        .menu-item-link {
          display: flex;
          flex-direction: row;
          align-items: center;
          height: var(--bs-menu-link-height);
          max-height: var(--bs-menu-link-height);
          color: var(--bs-menu-link-color);
          background: var(--bs-menu-link-bg);
          padding: 0 var(--bs-menu-link-padding-x);
          text-align: left;
          text-decoration: none;
          border: 0;
          outline: 0 !important;

          .menu-item-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: var(--bs-menu-link-icon-dimension);
            min-width: var(--bs-menu-link-icon-dimension);
            height: var(--bs-menu-link-icon-dimension);
          }

          .menu-item-text {
            width: 100%;
            color: inherit;
            font-size: var(--bs-menu-link-font-size);
            font-weight: var(--bs-menu-link-font-weight);
            margin: 0 var(--bs-menu-link-text-spacer);
            padding: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .menu-item-addon {
            white-space: nowrap;
            margin: 0 var(--bs-menu-link-addon-spacer);
          }
        }

        .menu-section {
          display: flex;
          flex-direction: row;
          align-items: center;
          min-height: var(--bs-menu-section-height);
          padding-left: var(--bs-menu-section-spacer);

          .menu-section-icon {
            display: none;
            width: 100%;
            text-align: center;
            color: #bdbdbd;
          }

          .menu-section-text {
            color: var(--bs-menu-section-color);
            font-size: var(--bs-menu-section-font-size);
            font-weight: var(--bs-menu-section-font-weight);
            padding: 0 var(--bs-menu-section-text-spacer);
            margin: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
  .main {
    background-color: #f4f7f9;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    transition: padding 0.2s ease-in-out;

    .header {
      background-color: #ffffff;
    }
  }
}
